<footer>
  <div class="container">
    <div class="logo">
      <img src="../../assets/logo.svg" alt="logo">
    </div>
    <div class="links">
      <div class="category-links">
        <div class="category-title">Категории</div>
        <a href="#">ROAD SERIES</a>
        <a href="#">STREET SERIES</a>
        <a href="#">MOUNTAIN SERIES</a>
      </div>
      <div class="information-links">
        <div class="information-title">Информация</div>
        <a href="#">О нас</a>
        <a href="#">Контакты</a>
      </div>
      <div class="category-links">
        <div class="category-title">Категории</div>
        <a href="#">ROAD SERIES</a>
        <a href="#">STREET SERIES</a>
        <a href="#">MOUNTAIN SERIES</a>
      </div>
      <div class="information-links">
        <div class="information-title">Информация</div>
        <a href="#">О нас</a>
        <a href="#">Контакты</a>
      </div>
      <div class="social-links">
        <a href=""><img src="../../assets/social.svg" alt="social"></a>
      </div>
    </div>
    <div class="copyright">© STREETSTER — Все права защищены</div>
  </div>
</footer>
