
<div class="content">
  <div class="container">
    <h2 class="about-title">Велосипеды Streetster это...</h2>
    <div class="rectangles">
      <div class="rectangle">
        <img src="../../assets/support.svg" alt="обслуживание">
        <div class="rectangle-title">Простота обсуживания</div>
        <div class="rectangle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
      <div class="rectangle">
        <img src="../../assets/support2.svg" alt="конструкция">
        <div class="rectangle-title">Надежная конструкция</div>
        <div class="rectangle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
      <div class="rectangle">
        <img src="../../assets/support3.svg" alt="детали">
        <div class="rectangle-title">Качественные детали</div>
        <div class="rectangle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
    </div>
    <h1 class="news">Новости</h1>
  </div>
</div>
