<div class="content">
  <div class="container">
    <div class="news">
      <div class="news-card">
        <div class="news-decription">
          <img src="../../assets/news1.png" alt="news">
            <h3 class="news-title">Лучшие аксессуары для стрит байков</h3>
            <div class="news-text">Lorem ipsum dolor sit amet,
               consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
               labore et dolore magna aliqua...</div>
            <button class="news-button">Читать</button>
        </div>
      </div>
      <div class="news-card">
        <div class="news-decription">
          <img src="../../assets/news2.png" alt="news">
            <h3 class="news-title">Куда поехать в Киеве?</h3>
            <div class="news-text">Lorem ipsum dolor sit amet,
               consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
               labore et dolore magna aliqua...</div>
            <button class="news-button" style="color: #ffffff; background-color: #000000;">Читать</button>
        </div>
      </div>
      <div class="news-card">
        <div class="news-decription">
          <img src="../../assets/news3.png" alt="news">
            <h3 class="news-title">Как обслуживать свой велосипед?</h3>
            <div class="news-text">Lorem ipsum dolor sit amet,
               consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
               labore et dolore magna aliqua...</div>
            <button class="news-button">Читать</button>
        </div>
      </div>
    </div>
  </div>
</div>
