<div class="content">
  <div class="container">
    <h1 class="title">Избранные товары</h1>
    <div class="products">
      <div class="vel">
        <div class="vel-title">Streetster Bakerstreet</div>
        <div class="vel-text">скорость соедененная с удобством</div>
        <div class="vel-img">
          <img src="../../assets/vel.png" alt="vel">
        </div>
      </div>
      <div class="accessories">
        <div class="product-one rectangle">
          <div>
            <img class="displayed" src="../../assets/halmet.png" alt="halmet">
            <div class="rectangle-title">Шлем Octane</div>
          </div>
        </div>
        <div class="product-two rectangle">
          <div>
            <img class="displayed" src="../../assets/protection.png" alt="protection">
            <div class="rectangle-title">Защита Canyon</div>
          </div>
        </div>
        <div class="product-three rectangle">
          <div>
            <img class="displayed" src="../../assets/protection.png" alt="protection">
            <div class="rectangle-title">Защита Canyon</div>
          </div>
        </div>
        <div class="product-four rectangle">
          <div>
            <img class="displayed" src="../../assets/halmet.png" alt="halmet">
            <div class="rectangle-title">Шлем Octane</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
